.header {
    overflow: hidden;
    padding: 20px 50px;
    background-color: rgb(44, 44, 44);
    animation-duration: 2s;
}

.AboutUs{
    font-family: Arial;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 138px;
    font-weight: bold;
}

.Gallery{
    font-family: Arial;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 138px;
    font-weight: bold;
}

.Pricing{
    font-family: Arial;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 138px;
    font-weight: bold;
}

.ContactUs{
    font-family: Arial;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 138px;
    font-weight: bold;
}

a:hover{
    background-color: rgb(18, 40, 138);
}

h1{
    position: absolute;
    font-family: Arial; 
    font-size: 100px;
    top: 30%;
    left: 35%;
    color: black;

}

span.first{
    animation-name: fadeIn;
    animation-delay: 600ms;
    animation-duration: 2s;
}

span.second{
    animation-name: fadeOut;
    animation-delay: 2s;
    animation-duration: 2s;
}

.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 10px;
}

.paintingone{
    animation-delay: 3s;
    grid-column: 1;
    width: 100%;
    height: 100%;
}

.paintingtwo{
    animation-delay: 4s;
    grid-column: 2;
    width: 100%;
    height: 100%;
}

.paintingthree{
    animation-delay: 5s;
    grid-column: 3;
    width: 100%;
}

.image-text{
    position: absolute;
    padding: auto; 
    background-color: transparent;
    top: 65%;
    line-height: 8px;
    left: 70%;
    animation-duration: 2s;
    animation-delay: 6s;
}

.artgal{
    font-family: Arial;
    font-size: 70px;
    color: white; 
}

.message{
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    color:white;
  }

  .collection{
      font-style: italic;
  }

.artist{
    font-family: Arial;
    color: black; 
    font-size: 50px;
    text-align: center;
    animation-delay: 1s;
    padding-top: 25px;
    border-bottom: solid rgb(161, 124, 20) 5px;
}

.naz{
    position: relative;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    right: 20%;
    margin-top: 50px;
}

.AboutMe{
    background-color: black;
}

.NAZB{
    position: absolute; 
    top: 130%;
    left: 55%;
    font-size: 60px;
}

.nazinfo{
    position: absolute;
    top: 152%;
    left: 60%;
    font-size: 20px;
    font-style: italic; 
    color: rgb(87, 87, 87);
}

.summary {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 75%;
    border: solid 2px rgb(63, 63, 63);
    position: relative; 
    top: 80px;
    background-color: rgb(161, 124, 20);
    padding: 40px;
    line-height: 20px;
    font-style: bold;
}

.AboutMe2{
    background-color: black;
    background-size: cover;
}

.enjoy {
    font-size: 30px;
    font-family: Arial;
    font-style: bolder;
    color: white;
    animation-delay: 2s;

}

.gallery{
    font-family: Arial;
    color: black; 
    font-size: 50px;
    text-align: center;
    animation-delay: 1s;
    padding-top: 60px;
    border-bottom: solid rgb(161, 124, 20) 5px;
}

.landscapegallery img{
    float: center;
    width:  250px;
    height: 250px;
    object-fit: cover;
    transition: 1s;
    padding: 15px;

}

.landscapegallery{
    margin: 10px 50px;
    animation-delay: 2s;
    margin-top: 110px;
}

.landscapegallery img:hover{
    /* filter: grayscale(100%); */
    background-color:  rgb(161, 124, 20);
    transform: scale(1.1);
}

.landscape{
    position: absolute; 
    color: white;
    font-weight: bold; 
    font-size: 40px;
    top: 208%;
    left: 10%;
    background-color: black; 
    padding: 20px;
}

.abstractgallery img{
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
    transition: 1s;
    padding:30px;

}

.abstractgallery{
    margin: 10px 50px;
    animation-delay: 2s;
    padding-top: 100px;
}

.abstractgallery img:hover{
    /* filter: grayscale(100%); */
    background-color:  rgb(161, 124, 20);
    transform: scale(1.1);
}

.abstract{
    position: absolute; 
    color: white;
    font-weight: bold; 
    font-size: 40px;
    top: 310%;
    left: 10%;
    background-color: black; 
    padding: 20px;
}

.stillsgallery img{
    float: center;
    width:  275px;
    height: 275px;
    object-fit: cover;
    transition: 1s;
    padding:30px;

}

.stillsgallery{
    margin: 10px 50px;
    animation-delay: 2s;
    padding-top: 100px;
}

.stillsgallery img:hover{
    /* filter: grayscale(100%); */
    background-color:  rgb(161, 124, 20);
    transform: scale(1.1);
}

.stills{
    position: absolute; 
    color: white;
    font-weight: bold; 
    font-size: 40px;
    top: 420%;
    left: 5%;
    background-color: black; 
    padding: 20px;
}

.calligraphygallery img{
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
    transition: 1s;
    padding:30px;

}

.calligraphygallery{
    margin: 10px 50px;
    animation-delay: 2s;
    padding-top: 100px;
}

.calligraphygallery img:hover{
    /* filter: grayscale(100%); */
    background-color:  rgb(161, 124, 20);
    transform: scale(1.1);
}

.calligraphy{
    position: absolute; 
    color: white;
    font-weight: bold; 
    font-size: 40px;
    top: 480%;
    left: 10%;
    background-color: black; 
    padding: 20px;
}

.price{
    font-family: Arial;
    color: black; 
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    animation-delay: 1s;
    padding-top: 25px;
    border-bottom: solid rgb(161, 124, 20) 5px;
}

.pricinginfo{
    color:black; 
    text-align: center; 
    font-weight: bold;
    font-size: 45px;
    width: 50%;
    position:absolute; 
    top: 605%;
    left: 25%;
}

.contactinf{
    font-family: Arial;
    color: black; 
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    animation-delay: 1s;
    padding-top: 25px;
    position: absolute;
    top: 660%;
    left: 44%;
    border-bottom: solid rgb(161, 124, 20) 5px;
}

.email{
    font-family: Arial;
    color: black; 
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    animation-delay: 1s;
    padding-top: 25px;
    position: absolute;
    top: 673%;
    left: 36%;
}